.section-1-blog{
    font-family: 'Barlow', sans-serif;
    color: #ffff;
    height: 500px;
    text-align: center;
    font-size: 30px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: url(../images/background-img-navio-cort.jpg), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    background-blend-mode: overlay;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.section-1-blog-title{
    color: #FFFFFF;
}

.section-1-blog-subtitle{
    color: #FFFFFF;
    font-weight: normal;
}

.search-bar-blog-div{
    display: inline-flex;
    justify-content: flex-end;
    padding-top: 2rem;
    padding-right: 2rem;
    height: 4rem;
}

.search-bar-blog{
    border: 1px solid grey;
    border-right: none;
}

.search-bar-blog:focus{
    outline: none;
}

.search-bar-blog::placeholder{
    padding-left: 0.5rem;
}

.submit-search-blog{
    background-color: #FFFFFF;
    border: 1px solid grey;
    border-left: none;
    display: flex;
    align-items: center;
    
    
}

.submit-search-blog :hover{
    cursor: pointer;
}

.blog-width-div{
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-left: 8rem;
}

.blog-post-div{
    display: flex;
    padding-left: 2rem;
    padding-bottom: 2rem;
}

.blog-image{
    width: 28rem;
    height: 20rem;
    padding-right: 2rem;
    
    
}

.image-blog-div{
    max-width: 28rem;
    max-height: 20rem;
    
    object-fit: cover;
    
}

.content-blog{
    max-height: 20rem;
    max-width: 28rem;
}

.blog-subtitle-category ul {
    list-style: none;
    padding-bottom: 1rem;
}

.read-more-blog{
    margin-top: 1rem;
    display: inline-block;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.3rem;
    border-color: #0076C1;
    background-color: #0076C1;
    color: #ffff;
}

.read-more-blog:hover{
    cursor: pointer;
}

.pagination-blog-div{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    padding-bottom: 2rem;
    padding-top: 1rem;
}

.pagination-blog-div a,span{
    padding-right: 1rem;
}

.pagination-blog-div span{
    color: #0076C1;
}

