footer {
    background-color: #333652;
    color: #E6E8F4;
    font-family: 'Barlow', sans-serif;
}

footer > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 1.3rem 1rem;
}

.footer_top {
    display: flex;
    justify-content: center;
    gap: 10.625rem;
}

.footer_columns {
    width: 326px;
    height: 232px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer_columns > p {
    color: white;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Barlow', sans-serif;
    line-height: default;
}

.footer_columns > div {
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
}

.footer_columns > div > a {
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.footer_columns > div > p {
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-align: start;
    color: inherit;
    line-height: normal;
    cursor: pointer;
}

.wpp-post-title {
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.footer_bottom {
    display: flex;
    justify-content: center;
    gap: 8.125rem;
}



.footer_bottom > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.footer_bottom > div:nth-child(1) p:nth-child(2) {
    color: white;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Barlow', sans-serif;
}



.footer_form {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.footer_form > label:nth-of-type(2) {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.footer_email {
    width: 300px;
    height: 40px;
    padding-left: 1rem;
}

.form_priv {
    display: flex;
    gap: 8px;
}

.form_priv label {
    font-size: 14px;
    white-space: nowrap;
}

.tnp-submit {
    width: 100px;
    height: 30px;
    cursor: pointer;
}

.input_hidden {
    display: none;
}



.footer_bottom > div:nth-child(3) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footer_bottom div:nth-child(3) > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.footer_bottom div:nth-child(3) > div:nth-child(1) > p {
    color: white;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
}

.footer_bottom div:nth-child(3) > div:nth-child(2) {
    display: flex;
    gap: 2rem;
}

.footer_bottom div:nth-child(3) img {
    width: 37px;
    height: 37px;
}

.footer_bottom div:nth-child(3) img:hover {
    scale: 1.13;
}



.footer_copyright {
    background-color: black;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_copyright p {
    color: white;
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    line-height: default;
}



@media screen and (max-width: 1168px) {
    .footer_top {
        gap: 3rem;
    }
    
    .footer_bottom {
        gap: 2rem;
    }
}

@media screen and (max-width: 966px) {
    footer > div:nth-child(1) {
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
    }
    
    .footer_top {
        flex-direction: column;
    }

    .footer_columns {
        height: auto;
        gap: 1rem;
    }

    .footer_bottom {
        flex-direction: column;
        gap: 0;
        justify-content: space-evenly;
    }

    .footer_bottom > div:nth-child(1) {
        align-items: flex-start;
    }

    .footer_bottom > div:nth-child(3) {
        align-items: flex-start;
        gap: 1rem;
    }

    .footer_bottom div:nth-child(3) > div:nth-child(1) {
        align-items: flex-start;
    }
}

@media screen and (max-width: 710px) {
    footer > div:nth-child(1) {
        flex-direction: column-reverse;
        align-items: center;
        gap: 3rem;
    }

    .footer_bottom {
        height: 26rem;
        justify-content: space-between;
    }
}

@media screen and (max-width: 385px) {
    footer > div:nth-child(1) {
        padding: 0.5rem 0.4rem;
    }

    .footer_top {
        width: 260px;
    }

    .footer_columns {
        width: 260px;
    }

    .footer_columns > div {
        width: 260px;
    }

    .footer_bottom {
        width: 260px;
        height: 28rem;
    }

    .footer_email {
        width: 260px;
    }

    .footer_form > div label {
        white-space: normal;
    }
}