h2 {
    font-size: 2rem;
}

.section-1-quem-somos{
    font-family: 'Barlow', sans-serif;
    color: #ffff;
    height: 500px;
    text-align: center;
    font-size: 30px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: url(../images/background-img-navio-cort.jpg), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    background-blend-mode: overlay;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.section-1-quem-somos-title{
    color: #FFFFFF;
}

.section-1-quem-somos-subtitle{
    color: #FFFFFF;
}

main {
    font-family: 'Roboto', sans-serif;
    padding: 2rem 5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    margin-top: 0;
    height: auto;
}

.main_aside2_section {
    display: flex;
    gap: 3rem;
    padding-top: 1.5em;
}

.main_aside2_section > div:first-child > img {
    width: 580px;
    height: 370px;
    object-fit: cover;
}

.main_aside2_section > img {
    width: 43%;
    max-width: 582px;
    align-self: center;
    height: 30%;
}

.main_aside2_text {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.main_aside2_text > h2 {
    font-size: 32px;
}

.main_aside2_text > p {
    line-height: 35px;
    font-size: 18px;
}




.aside2_section {
    /* display: flex; */
    flex-direction: row-reverse;
    /* gap: 3rem; */
}

/* .aside2_section > img {
    width: 583px;
    height: 371px;
}

.aside2_section_text {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.aside2_section_text > h2 {
    font-size: 32px;
}

.aside2_section_text > p {
    line-height: 28px;
} */

.teste1_img {
    object-fit: cover;
    width: 583px;
    height: 371px;
}

.titulo_sessao_principal_hidden{
    display: none;
}

.titulo_sessao_aside2_hidden{
    display: none;
}

@media screen and (max-width: 385px) {
    .main_aside2_section {
        padding-top: 7em;
    }
}

.main_aside1_section{
    display: flex;
    gap: 3rem;
    padding-bottom: 1.5em;
}

.main_aside1_left_div, .main_aside1_right_div{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 1000px;
}

.main_aside1_left_div img {
    float: left;
    width: 35%;
    padding-right: 15px;
    padding-bottom: 15px;
    
    object-fit: cover;
    min-width: 200px;
    min-height: 250px;
}

.main_aside1_right_div img {
    float: left;
    width: 35%;
    padding-right: 15px;
    padding-bottom: 15px;
    
    object-fit: cover;
    min-width: 200px;
    min-height: 250px;
}

.main_aside1_left_div p {
    line-height: 35px;
    font-size: 18px;
    float: left;
    width: 60%;
}

.main_aside1_right_div p {
    line-height: 35px;
    font-size: 18px;
    float: left;
    width: 60%;
}

.main_values_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

.main_values_container{
    display: flex;
    width: 85%;
    gap: 1.5rem;
}

.main_values_div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_values_div p{
    line-height: 35px;
    text-align: center;
    font-size: 18px;
}

@media screen and (max-width: 820px) {
    .main_values_container, .main_aside1_section, .main_aside1_left_div, .main_aside1_right_div, 
    .main_aside2_section,.aside2_section{
        flex-direction: column;
        align-items: center;
    }

    .main_aside2_section {
        padding-top: 1.5em;
    }
    
    .main_aside1_left_div, .main_aside1_right_div{
        flex-basis: 0;
    }

    .main_aside1_left_div img {
        width: 100%;
        max-width: 300px;
        max-height: 350px;
    }
    
    .main_aside1_right_div img {
        width: 100%;
        max-width: 300px;
        max-height: 350px;
    }
    
    .main_aside1_left_div p {
        width: 100%;
    }
    
    .main_aside1_right_div p {
        width: 100%;
    }

    .titulo_sessao_principal_hidden{
        display: block;
    }

    .titulo_sessao_aside2_hidden{
        display: block;
    }

    .main_aside2_text h2{
        display: none;
    }

    .main_aside2_section > img {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    main {
        padding: 1rem 2rem;
    }

    
}

@media screen and (max-width: 390px) {
    main {
        padding: 1rem;
    }
}
@media screen and (max-width: 1250px){
    .main_aside1_left_div, .main_aside1_right_div{
        justify-content: center;
    }
}